@import 'sass-queries';

:root {
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
}

body {
    font-family: 'Epilogue', sans-serif;
    font-size: 16px;
    background-color: var(--Almost-White)
}
.hidden {
    display: block;
    @include media($until: tablet) {
        display: none;
    }
}
.hidden-mobile {
    display: none;
    @include media($until: tablet) {
        display: block
    }
}
@import 'header';
@import 'hero';